<style>
  #filters
  {
    display: flex;
    justify-content: center;
  }
  .filterButton
  {
    margin: 5px;
  }
</style>

<div id="filters">
  <button class="filterButton" ng-click="onClickTous()">Tous</button>
  <button class="filterButton" ng-click="onClickRG()">RG</button>
  <button class="filterButton">RD</button>
  <button class="filterButton">Majeurs</button>
  <button class="filterButton">Reinit.</button>
</div>
<p ng-repeat="usr in users">Welcome {{usr.Name}}</p> <!-- Not use the same expression for ng-repeat across app! -->