<style>
  #mainContainer
  {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background: black;
  }
  #catMenu
  {
    background: lime;
    flex: 1;
  }
  #subContainer
  {
    background: yellow;
    flex: 5;
  }
  #googleMap
  {
    width: inherit;
    height: 400px;
  }
  #catMenu
  {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
</style>

<div id="mainContainer">
  <div id="catMenu">
    <div class="list-group">
      <button type="button" class="list-group-item" ng-if="subCategory != undefined" ng-click="catMenuClick(undefined)">
        &#8656 Retour
        <span class="badge">1</span>
      </button>
      <button type="button" class="list-group-item" ng-repeat="cat in categories" ng-click="catMenuClick(cat)">
        {{cat}}
        <span class="badge">1</span>
      </button>
    </div>
  </div>
  <div id="subContainer">
    <map-container id="googleMap"></map-container>
    <users-list></users-list>
  </div>
</div>

{{users}}
